
{{~#*inline "format-money"~}}
{{money-amount money}} {{money.currency}}
{{~/inline~}}

{{~#*inline "format-date"~}}
{{date date format="MMM dd, YYYY"}}
{{~/inline~}}

{{~#*inline "format-time"~}}
{{date date format="hh:mm a"}}
{{~/inline~}}


<html>
  <body>
    

{{#with transaction}}
    
        
<p>
Thanks for booking! You have a fishing trip booked at 
</p>

<p><b>{{listing.title}}</b> for {{> format-date date=booking.start}} beginning at  {{> format-time date=booking.start}} and ending at {{> format-time date=booking.end}}.</p>
<br>
<p>Details for your fishing trip are below:</p>

<br>
<p>
    Address: {{listing.public-data.address}}

    <br>

    Access to Pond: {{listing.public-data.access-to-pond-description}}

    <br>
    <br>
    Additional Information/Reminders: {{listing.public-data.additional-information-description
    }}
</p>

  <hr>
  <b>Payment breakdown</b>  
<table>
{{#each line-items}}
          
            <tr>
              <td>{{code}}</td>
              <td style="text-align: right; padding-left: 20px">{{> format-money money=unit-price}}</td>
            </tr>
   
{{/each}}

</table>

<hr>

<p><b>Payment Total: {{> format-money money=payin-total}}</b></p>

<br>
<p>
    We hope you have a great fishing trip and look forward
    to hearing about your experience! Get hooked!
    If you need customer support or help,
    reach out to our team at 1-844-446-3474 or info@fishmyspot.com

</p>

<pre>
Fishly Yours, 
The FishMySpot Team
<img src="https://fishmyspot.com/images/logo.png" alt="fms" style="height: 50px;" />
</pre>
   

{{/with}}

     </body>
</html>
