<html>
  <body>
    {{#with transaction}}
    <h1>
      {{other-party.display-name}} wrote you a review. Here's what
      {{other-party.display-name}} wrote.
    </h1>

    {{#each reviews}} {{#eq recipient.id subject.id}}
    <blockquote><i>"{{content}}"</i></blockquote>
    {{/eq}} {{/each}}

    <p>Now, you can write a review to the booking.</p>

    <p>
      <a href="{{marketplace.url}}/seller-dashboard/booked-list/ready-to-review"
        >Leave a review</a
      >
    </p>
    {{/with}}

    <hr />

    <p>
      You have received this email notification because you are a member of
      {{marketplace.name}}. If you no longer wish to receive these emails,
      please contact {{marketplace.name}} team.
    </p>
  </body>
</html>
