@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
    font-family: "food-truck";
    src: url("/fonts/food-truck-signage-regular.ttf");
}
@font-face {
    font-family: "trade-gothic";
    src: url("/fonts/Trade-Gothic-LT.ttf");
}
@font-face {
    font-family: "trade-gothic-bold";
    src: url("/fonts/Trade-Gothic-LT-Bold.ttf");
}

/* rc slider css [start] */
.rc-slider-track.rc-slider-track-1 {
    @apply bg-primary;
}
.rc-slider-handle.rc-slider-handle-1,
.rc-slider-handle.rc-slider-handle-2 {
    @apply border-primary;
}

.rc-slider-handle:active,
.rc-slider-handle:hover,
.rc-slider-handle-click-focused,
.rc-slider-handle-dragging {
    @apply border-primary shadow-none !important;
}
/* rc slider css [end] */

/* input field  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

/* 
=========== [ custom scroll bar ] ==============  
Chrome
*/
.sidebar::-webkit-scrollbar {
    width: 3px;
}
.sidebar::-webkit-scrollbar-track {
    background: #ddd;
}
.sidebar::-webkit-scrollbar-thumb {
    @apply bg-secondary rounded-[7px] cursor-pointer;
}
/* Custom scroll bar Firefox */
.sidebar {
    overflow-y: auto;
    scrollbar-color: #f7be32 #ddd !important;
    scrollbar-width: 3px !important;
}
/* No scrollbar  */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* slider */
.reviews-container .slick-list {
    @apply pb-10 2xl:pb-20 !important;
}

.reviews-container .slick-dots li button:before {
    @apply text-[#6f6d71] text-base;
}

.reviews-container .slick-dots li.slick-active button:before {
    @apply text-secondary !important;
    opacity: 0.75;
}

.featured-spot-slider .slick-prev {
    @apply left-0 lg:left-3 z-10 !important;
}
.featured-spot-slider .slick-next {
    @apply right-0 lg:right-6 z-10 !important;
}

.featured-spot-slider .slick-prev:before,
.featured-spot-slider .slick-next:before {
    @apply text-secondary text-xl lg:text-3xl 2xl:text-4xl;
}

.featured-spot-slider .slick-list {
    @apply py-14;
}

.featured-spot-slider .slick-slide.slick-active.slick-current {
    @apply transform lg:-rotate-6 lg:translate-y-4;
}

.featured-spot-slider .slick-slide.slick-active.slick-current + .slick-slide.slick-active + .slick-slide.slick-active {
    @apply transform lg:rotate-6 lg:translate-y-4;
}

.featured-spot-slider .slick-slide.slick-active.slick-current + .featured-spot-slider .slick-slide.slick-active {
    @apply lg:-translate-y-2;
}

.featured-spot-slider .slick-slide {
    @apply transition-all duration-200 lg:px-5;
}

.slick-slider.center.slick-initialized {
    @apply px-5 lg:px-3;
}

/* settings icons */
.icons svg {
    @apply text-2xl sm:text-3xl md:text-4xl 2xl:text-6xl text-secondary;
}


/* accordion */
.accordion {
    @apply border-none !important;
}
.accordion__item {
    @apply mb-4 lg:mb-5 text-base lg:text-lg font-trade-gothic-bold text-primary !important;
}

.accordion__item + .accordion__item {
    @apply border-t-0 !important;
}
.accordion__button {
    @apply flex items-center justify-between bg-[#fcfcfc] xl:py-7 xl:pl-8 xl:pr-20 !important;
    box-shadow: 0 1px 9px 0 rgba(123, 174, 212, 0.12);
}
.accordion__button:before {
    @apply order-2;
    transform: rotate(47deg) !important;
}

.accordion__button[aria-expanded='true']::before, .accordion__button[aria-selected='true']::before {
    transform: rotate(224deg) !important;
}

.accordion__panel {
    @apply xl:pl-8 xl:pr-32 xl:py-9 bg-[#fcfcfc] !important;
    box-shadow: 0 1px 9px 0 rgba(123, 174, 212, 0.12);
}
